<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIAMOND PUBLIC SCHOOL</title>
    <link rel="icon" type="image/png" href="{{url_for('static',filename='images/SYMBOLS.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<ul id="nav"><li><a href="dashboard"><i class="fa fa-home"></i></a></li><img src="static/images/SYMBOLS.png" alt="SYMBOL"><li>DIAMOND PUBLIC SCHOOL</li></ul>
<fieldset>
    <h1>CHANGE USER PASSWORD</h1>
    <fieldset>
        <form action="{{url_for('change_pwd')}}" id="changepwd" method="post">
        <b>CHOOSE USER TYPE <label>*</label></b>
          <select name="user_type" id="nor_opt">
            <option value="">---SELECT---</option>
            <option value="STUDENT">STUDENT</option>
            <option value="TEACHER">TEACHER</option>
          </select>
        <b>ENTER ID <label>*</label></b>
        <input type="number" min="0" name="ID" id="nor_input" placeholder="ENTER ID">
        <b>ENTER NEW PASSWORD <label>*</label></b>
        <input type="text" name="new_pwd" id="nor_input" placeholder="ENTER NEW PASSWORD">
        <b>CONFIRM PASSWORD <label>*</label></b>
        <input type="text" name="con_pwd" id="nor_input" placeholder="ENTER CONFIRM PASSWORD"></form>
        <button id="nor_btn" onclick="check_pwd()">SEARCH</button>
        <b><label id="error">{{code|safe}}</label></b>
    </fieldset>
    <label><code><b>NOTE :-</b> ADMIN PASSWORD CANNOT WE CHANGE.</code></label>
</fieldset>
<script>
    function check_pwd(){
        const user_type = document.getElementsByName('user_type')[0].value.trim();
        const user_id = document.getElementsByName('ID')[0].value.trim();
        const new_pwd = document.getElementsByName('new_pwd')[0].value;
        const con_pwd = document.getElementsByName('con_pwd')[0].value;
        if (user_type !== '' && user_id !== '' && new_pwd !== '' && con_pwd !== ''){
            if(new_pwd === con_pwd){document.getElementById('changepwd').submit()}
            else{document.getElementById('error').innerHTML = 'NEW PASSWORD AND CONFIRM PASSWORD HAVE TO BE SAME.';}}
        else{document.getElementById('error').innerHTML = 'PLEASE FILL OUT ALL FIELDS.';}}
</script>
<ul id="nav"><li>COPYRIGHT&copy; 2026 <code>ALL RIGHTS RESERVED.</code></li></ul>
</body>
</html>