<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIAMOND PUBLIC SCHOOL</title>
    <link rel="icon" type="image/png" href="{{url_for('static',filename='images/SYMBOLS.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body><ul id="nav">
    <li><a href="dashboard"><i class="fa fa-home"></i></a></li>
    <img src="static/images/SYMBOLS.png" alt="SYMBOL">
    <li>DIAMOND PUBLIC SCHOOL</li>
  </ul>
    <fieldset>
        <h1>FEES SLIP CREATOR</h1>
        <fieldset>
            <form action="{{url_for('fees_slip')}}" method="post">
            <b><label>{{error}}</label></b><br>
            <input type="text" name="stage" value="st1" hidden>
            <b>ENTER STUDENT ADM. NO.<label>*</label></b>
            <input type="number" name="st_id" id="nor_input" placeholder="ENTER ADM. NO." required>
            <button id="nor_btn">LOAD STUDENT DATA</button>
            </form> 
            <hr><b>STUDENT DETAILS<br>
            NAME :- {{st_name}}<br>
            FATHER :- {{st_father}}<br>
            MOTHER :- {{st_mother}}<br>
            CLASS :- {{st_class}}</b><hr>
            <form action="{{url_for('fees_slip')}}" method="post">
            {{code|safe}}
            </form>
            {{code2|safe}}
        </fieldset>
    </fieldset>
<ul id="nav"><li>COPYRIGHT&copy; 2026 <code>ALL RIGHTS RESERVED.</code></li></ul>
</body>
</html>
