<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIAMOND PUBLIC SCHOOL</title>
    <link rel="icon" type="image/png" href="{{url_for('static',filename='images/SYMBOLS.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <ul id="nav">
    <li><a href="dashboard"><i class="fa fa-home"></i></a></li>
    <img src="static/images/SYMBOLS.png" alt="SYMBOL">
    <li>DIAMOND PUBLIC SCHOOL</li>
  </ul>
    <fieldset>
        <fieldset>
            <form action="{{url_for('user_log_history')}}" method="post">
                <h1>USER LOG HISTORY</h1>
                <b>CHOOSE USER TYPE <label>*</label></b>
                <select name="USER_TYPE" id="nor_opt" required>
                    <option value="">---SELECT---</option>
                    <option value="STUDENT">STUDENT</option>
                    <option value="TEACHER">TEACHER</option>
                </select>
                <b>ENTER ID <label>*</label></b>
                <input type="number" name="USER_ID" id="nor_input" min="0" placeholder="ENTER ID" required>
                <button id="nor_btn">VIEW</button>
            </form>
        </fieldset>
        <fieldset>
            {{code|safe}}
        </fieldset>
    </fieldset>
    <ul id="nav"><li>COPYRIGHT&copy; 2026 <code>ALL RIGHTS RESERVED.</code></li></ul>
</body>
</html>