<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DPS ADMISSION FORM</title>
    <link rel="icon" type="image/png" href="{{url_for('static',filename='images/SYMBOLS.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <style>
        /* b{color:} */
    </style>
</head>
<body>
    <h1>WELCOME!!</h1>
    <h2>TO DIAMOND PUBLIC SCHOOL, JALESAR</h2>
    <article>OUR SCHOOL GIVES WINGS TO STUDENT TO FLY IN FUTUTRE SKY!!!</article>
    <b>ENROLL NOW!!!</b>
    <a href="{{url_for('admission_form')}}"><button>FILL ADMISSION FORM</button></a>
    <a id="class" href="https://sites.google.com/view/diamondpublicschool-com" target="_blank">KNOW MORE.....</a>
</body>
</html>