h1{color: red;text-align: center;}
h2{color: blue;text-align: center;}
fieldset{margin:10px 10px;padding:12px 20px;border:3px solid green;}
label{color: red;}
img{float: center;}
#nor_input,#nor_opt{width: 100%;margin:10px 10px;padding:12px 20px;border: 3px solid green;display:inline-block;box-sizing: border-box;}
#nor_btn{color: white;background: blue;border-radius:50px;border: 3px solid green;width: 98%;margin:10px 10px;padding: 12px 20px;}
#dash_btn{width: 48.4%;background:blue;border:2px solid red;border-radius:50px;height:24%;padding: 5px;margin: 2px 2px;color:white;}
#nav_btn{background: transparent;color: white;width: 33%;border-radius:50px;border: none;}
.test_btn{background: green;color: orange;width: 100%;margin:10px 10px;padding: 12px 20px;border-radius: 50px;}
#hw_btn{width: 40%;background: green;border-radius: 10px;color: white;margin:5px 5px;padding: 6px 10px;}
#nor_btn:hover,#dash_btn:hover,#nav_btn:hover,#hw_btn:hover,.test_btn:hover{background: red;color:black;}
#TEST_CONTENT{background: red;}
#test_gen_div{border: 2px solid green;border-radius: 10px;width: 45%;margin:10px 10px;padding: 12px 20px;}
legend{color: red;}
#notifi{margin:5px 5px;padding:12px 20px;border-radius: 10px;border:3px solid grey;}
#noti_heading{padding:12px 20px;background: blue;color: white;border: none;}
#btn{font-size:64;}
a[id=class]{text-decoration: none; float: right;margin: 10px 10px;}
a[id=class]:hover{color: red;background: rgb(185, 183, 183);}
.warning{color: red;background: rgb(255, 164, 164);border: 3px solid red;width: 100%;margin:10px 10px;padding:12px 20px;border-radius: 5px;display:inline-block;box-sizing: border-box;}
table{border:red;width:99%;border:3px solid red; margin:10px 10px;text-align: center;}
body {margin: 0;padding: 0;}
#nav{list-style-type: none;margin: 0;padding: 0;background-color: #333333;display: flex;color: white;}
#nav li a {display: block;color: white;font-size:20px;margin: 2.5px 2.5px;text-decoration: none;}
#nav li{display: block;color: white;padding: 14px 16px;}
#nav li a:hover{background-color: #8e8282;}
#nav img{border-radius: 50%;height:40px;width:40px;margin: 5px 5px;}
div#user_info{text-align: center;font-weight: bold;margin:10px 10px;padding:12px 20px;}
div#user_info img{border: 1px solid green;border-radius: 50%;width: 200px;height: 200px;}
div#user_info font{color: red;}
div#user_info #comp{border: 1px solid black;color: white;background: red;margin:5px 5px;padding:6px 6px;width:30%;height:30px;}
div#user_info #log{border: 1px solid black;color: white;background: rgb(55, 55, 185);margin:5px 5px;padding:6px 6px;width:30%;height:30px;}
div#user_info #pwd{border: 1px solid black;color: black;background: rgb(0, 255, 94);margin:5px 5px;padding:6px 6px;width:30%;height:30px;}
div#TEST_CONTENT{color: black;border: 2px solid red;background:rgb(141, 246, 149);margin:10px 10px;padding:12px 20px;border-radius: 5px;}
textarea{resize: none;}
