<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DIAMOND PUBLIC SCHOOL</title>
        <link rel="icon" type="image/png" href="{{url_for('static',filename='images/SYMBOLS.png')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            body{text-align: center;}
            .h{color: green;font-size: 120px;}
            .r{color:red;font-size: 50px;}
        </style>
    </head>
    <body><ul id="nav">
    <li><a href="dashboard"><i class="fa fa-home"></i></a></li>
    <img src="static/images/SYMBOLS.png" alt="SYMBOL">
    <li>DIAMOND PUBLIC SCHOOL</li>
  </ul>
        <p class="h"><i class="fa fa-check-circle"></i></p>
        <p class="r">DATA SENDED SUCCESSFULLY!!!</p>
        <a href="{{url_for('confirmation')}}"><button id="nor_btn">BACK TO DASHBOARD</button></a>
<ul id="nav"><li>COPYRIGHT&copy; 2026 <code>ALL RIGHTS RESERVED.</code></li></ul>
</body>
</html>