<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR PAGE (D.P.S.)</title>
    <link rel="icon" type="image/png" href="{{url_for('static',filename='images/SYMBOLS.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>a{text-decoration: none;}</style>
</head>
<body style="text-align:center;">
    <fieldset>
       <b style="color: rgb(255, 0, 0); font-size:200px;">&times;</b><h1><br>ERROR!!!</h1>
       <a href="https://sites.google.com/view/diamondpublicschool-com"><button id="nor_btn">GO TO SCHOOL WEBSITE</button></a>
       <ul style="text-align: left;">
        <b>FOR ANY ISSUE CONTACT ON</b>
        <li>MOBILE NO:- <a href="https://wa.me/9897432207" target="_blank">+919897432207</a> , <a href="https://wa.me/8273998585" target="_blank">+918273998585</a></li>
        <li>EMAIL:- <a target="_blank" href="mailto:dpsjalesar@gmail.com?subject=Any Error or Issue is caused in app.&body=Respected Development Team,\n\n">dpsjalesar@gmail.com</a></li>
    </ul>
    </fieldset>
<ul id="nav"><li>COPYRIGHT&copy; 2026 <code>ALL RIGHTS RESERVED.</code></li></ul>
</body>
</html>