<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DIAMOND PUBLIC SCHOOL</title>
    <link rel="icon" type="image/png" href="{{url_for('static',filename='images/SYMBOLS.png')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body><ul id="nav">
    <li><a href="dashboard"><i class="fa fa-home"></i></a></li>
    <img src="static/images/SYMBOLS.png" alt="SYMBOL">
    <li>DIAMOND PUBLIC SCHOOL</li>
  </ul>
    <fieldset>
        <fieldset>
        <form action="{{url_for('report_card')}}" method="post">
        <input type="text" name="stage" value="st1" hidden>
        <h1>REPORT CARD DATA</h1>
        <b>CHOOSE CLASS <label>*</label></b>
        <select id="nor_opt" name="c_class" required>
            <option value="">---SELECT---</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>
        <button type="submit" id="nor_btn">LOAD DATA</button>
        </form></fieldset>
        <fieldset>
        <form action="{{url_for('report_card')}}" method="post">
        <input type="text" name="stage" value="st2" hidden>
        {{code|safe}}
        </form>
        </fieldset>
        <fieldset>
        <form action="{{url_for('report_card')}}" method="post">
        {{code2|safe}}
        </form>
        </fieldset>
    </fieldset>
<ul id="nav"><li>COPYRIGHT&copy; 2026 <code>ALL RIGHTS RESERVED.</code></li></ul>
</body>
</html>